@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --main-color: #07c0de;
  --text-color: #262929;
}

* {
  font-family: "Cairo", sans-serif !important;
}

body {
  user-select: none;
  overflow-x: hidden;
  font-family: "Cairo", sans-serif !important;
}
.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 0px 10px !important;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  width: 30px !important;
  height: 70px !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.swiper {
  width: 100% !important;
  height: 100% !important;
}
.css-1vscx9z {
  margin: auto !important;
}

/*  Navbar  */

.navbar {
  background-color: #442db9;
  z-index: 100;
}
.navbar-toggler {
  border: none !important;
}
.navbar-toggler-icon {
  background-image: url("./images/menu.png") !important;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}
.navbar img {
  width: 100px;
}

.nav-link {
  font-weight: 600 !important;
  transition: 0.3s !important;
}
.nav-link:hover {
  color: var(--main-color) !important;
}

.nav-btn {
  display: block;
  padding: 5px 25px;
  background-color: var(--main-color);
  color: white;
  border-color: transparent;
  font-weight: 700;
}

/* Home Page */
.features h1 {
  color: var(--text-color);
  font-weight: 700;
}
.features p {
  color: var(--text-color);
  font-weight: 700;
}

.feature p {
  color: #8a9ca4;
}
.filter-home .container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px 15px !important;
}
.filter-cont {
  color: var(--text-color);
}
.filter-image img {
  width: 250px;
  display: block;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-card {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  transition: 0.3s;
  min-height: 500px;
}
.product-sub-head {
  padding: 1px 10px;
  position: absolute;
  font-size: 14px;
  color: #fff;
  font-size: 12px;
  top: -10px;
  right: -14px;
}
.product-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: scale(1.08);
}
.date p {
  width: 33px;
  height: 33px;
  border-radius: 0;
  background-color: #f2f2f2;
  margin: 6px 4px 0;
  padding: 4px;
  border: 0px;
  color: #262929;
  font-size: 10.87px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date span {
  color: #262929;
  font-size: 12.87px;
  text-align: center;
}
.details {
  display: block;
  padding: 3px 15px;
  text-align: center;
  margin-top: 25px;
  background-color: var(--main-color);
  color: white;
  border-radius: 6px;
  border-color: transparent;
}
.active > .page-link,
.page-link.active {
  z-index: 3;
  background-color: #db2768 !important;
  border-color: transparent !important;
  box-shadow: none !important;
  color: white !important;
}
.page-link {
  border: none !important;
  border-right: 1px solid rgba(171, 184, 190, 0.3) !important;
  box-shadow: none !important;
  background-color: transparent !important;
  color: black !important;
  font-weight: 700 !important;
}

.mazad {
  background-color: #b70404;
  color: white;
  padding: 5px 20px;
  margin: 15px 0 0;
  border-radius: 8px;
  border-color: transparent;
  transition: 0.3s;
}
.mazad:hover {
  background-color: #8e0505;
}

/*  Product Details Page  */

.final-price p {
  color: var(--main-color);
}

.final-price h1 {
  color: var(--text-color);
  margin-bottom: 50px;
}

.details-text span {
  color: #109f79;
  font-size: 12px;
  font-weight: bold;
}
.details-text h2 {
  color: var(--main-color);
}
.more-details .container {
  border: 2.5px solid #1d2122;
  background-color: #fff;
  padding: 50px;
}
.more-details h4 {
  color: var(--main-color);
}
.more-details p {
  font-weight: 700;
  color: var(--text-color);
}
.whatsapp {
  display: block;
  padding: 5px 0;
  width: 80%;
  margin: auto;
  text-align: center;
  border-radius: 6px;
  background-color: #2ca620 !important;
  border-color: transparent !important;
  color: #fff;
}

/* Login Page  */

.email label,
.password label,
.passwordConfirm label,
.phone label,
.name label,
.role label {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--text-color);
}

.email input,
.password input,
.passwordConfirm input,
.phone input,
.name input {
  width: 80%;
  padding: 8px;
  border: 2px solid #f7f7f7;
  color: var(--text-color);
  font-weight: 400;
  outline-color: var(--main-color);
}
.register-btn,
.login-btn {
  display: block;
  width: 80%;
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
}
.login-btn {
  background-color: var(--main-color);
  border-color: transparent;
  color: white;
}
.register-btn {
  background-color: transparent;
  border-color: var(--text-color);
  transition: 0.3s;
}
.register-btn:hover {
  background-color: var(--text-color);
  color: white;
}

/* Add Product Page */

.productImage {
  visibility: hidden;
}
.product-input label {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
}

.product-input input {
  width: 80%;
  padding: 8px;
  border: 2px solid #e3e3e3;
  color: var(--text-color);
  font-weight: 400;
  outline-color: var(--main-color);
}

.settings {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 1000000000000;
  width: 100%;
}

/* Mazad chat Page */

.mazadat {
  min-height: 100vh;
  background-image: url("./images/chat-bg.PNG");
  padding: 30px 15px;
}
.mazadat .container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0 !important;
  background-color: white;
  overflow: hidden;
}

.mazad-details h5,
.chatting h5 {
  background-color: #d1d7db;
  padding: 15px 10px;
  color: #667781;
}
.mazad-details h5 {
  width: 111%;
}
.chatting h5 .merchant-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #8e0505;
  font-size: 12px;
  margin-left: 5px;
}
.chatting h5 {
  margin-bottom: 0 !important;
}
.chatting {
  position: relative;
}

.Chatting-form {
  direction: ltr;
  padding: 80px 0px 60px;
  background-image: url("./images/chat-bg.PNG");
  min-height: 80vh;
  max-height: 80vh;
  width: 100%;
  overflow-y: scroll;
  margin-top: 85px;
  border-radius: 15px;
}
.css-cc17ih-MuiPaper-root-MuiAppBar-root {
  left: 0 !important;
}

.chatting-input {
  width: 60%;
  height: 50px;
  padding: 0px 30px;
  border-radius: 25px;
  border: 1px solid rgb(224, 224, 241);
  background: transparent;
  outline-color: #403da8ba;
}

@media (max-width: 768px) {
  .chatting-icon {
    display: none;
  }
  .chatting-input {
    width: 100%;
  }
}

.Message {
  display: flex;
  align-items: center;
  margin: 15px 5px 20px 15px;
}
.Message-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  margin: 0px 15px;
}

.Message-cont {
  background: rgba(64, 61, 168, 1);
  color: white;
  padding: 10px 30px;
  border-radius: 25px;
  position: relative;
}

.bell-btn {
  background-color: transparent;
  border-color: transparent;
}
.notification {
  position: absolute;
  right: 25%;
  top: 3px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}
.order-payment {
  display: block;
  color: white;
  background-color: var(--main-color);
  border-radius: 6px;
  padding: 5px 0;
  margin: auto;
  text-decoration: none;
  text-align: center;
}

.user-orders {
  min-height: 70vh;
}

.order-details .container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 25px 15px;
  border-radius: 8px;
}
.order-details p {
  color: var(--text-color);
  font-weight: 700;
}

.payment .container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 25px 15px;
  border-radius: 8px;
}
.payment select {
  width: 300px;
  padding: 5px 15px;
  font-weight: 600;
  border-color: #d1d7db;
}
.add-address {
  display: block;
  margin-right: 15px;
  padding: 5px 50px;
  background-color: #667781;
  color: white;
  border-color: transparent;
  font-weight: 700;
  border-radius: 8px;
}
.pay-btn,
.add-address-btn {
  padding: 5px 25px;
  background-color: var(--main-color);
  border-color: transparent;
  color: white;
  border-radius: 3px;
}
.offcanvas-body input {
  padding: 5px 10px !important;
  border-color: #1d2122 !important;
  font-weight: 400 !important;
}
.add-address-btn {
  display: block;
  margin: auto;
  width: 50%;
}

.camera-img {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  overflow: hidden;
  color: white;
  cursor: pointer;
  transition: opacity 0.3s, visibility 0.3s;
}

.camera-img span {
  margin: 0;
  font-family: "Public Sans Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
}

.update-img-label,
.update-img {
  transition: 0.3s;
}

.update-img:hover .camera-img,
.update-img-label:hover .camera-img {
  opacity: 0.8;
  visibility: visible;
}

.delete-profile-img {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 15px 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: "Public Sans Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.71429;
  text-transform: unset;
  min-width: 64px;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  color: #b71d18;
  background-color: rgba(255 86 48 /0.16);
}
.active-profile{
  height: 24px;
    min-width: 24px;
    line-height: 0;
    cursor: default;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 6px;
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 6px;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #118D57;
    background-color: rgb(34 197 94 / 16%);
    position: absolute;
    top: 20px;
    right: 20px;
}